@media screen and (max-width: 1024px) {
  .team {
     height: 1064px;
  }
}

@media screen and (max-width: 934px) {
  .team {
    height: 1402px;
  }
}
@media screen and (max-width: 648px) {
  .team {
    height: 2102px;
  }
}
